fieldset{
  border: none;
  background-color: pink;
  border-radius: 20px;
}
img{
  border-radius: 30px;
}
h1{
  position: fixed;
  padding: 0px 50px 0px 80px;
  background-color: white;
  font-family: times new roman;
}
#b{
  padding: 80px 0 0 0;
}
p{
  font-size: 25px;
  font-family: courier new;
}
h2{
  font-family: times new roman;
}